

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  background-color: lightgray;
}

.header-container {
  width: 500px;
  height: 100px;
  margin: 10px auto 10px auto;

  background-color: ivory;
}

.body-container {
  display: flex;
  flex-direction: row;

  margin: auto;
}

.left-box {
  background-color: lightblue;
  width: 200px;
  height: 800px;

  margin-right: 10px;
}

.right-box {
  background-color: lightgreen;
  width: 300px;
  height: 800px;
}

.text-sample {
  /* 폰트 */
  font-family: "Segoe UI", sans-serif;
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
  font-variant: small-caps;
  font-stretch: normal;

  /* 정렬 / 줄 */
  text-align: center;
  vertical-align: middle;
  line-height: 1.6;

  /* 색상 / 효과 */
  color: #333;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 4px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);

  /* 줄바꿈 / 넘침 */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}